name: Build & Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
        shell: bash

      - name: Build executable
        run: |
          VERSION=${{ github.event.release.tag_name }}
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            pyinstaller --onefile main.py
            mv dist/main.exe dist/rob-$VERSION.exe
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            pyinstaller --onefile --name rob-$VERSION main.py
            mv dist/rob-$VERSION dist/rob-$VERSION-linux
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            pyinstaller --onefile --name rob-$VERSION main.py
            mv dist/rob-$VERSION dist/rob-$VERSION-mac
          fi
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rob-${{ github.event.release.tag_name }}-${{ matrix.os }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all built binaries
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Upload Binaries to Release
        uses: softprops/action-gh-release@v2
        if: github.event.release.draft == false
        with:
          files: |
            dist/rob-${{ github.event.release.tag_name }}-windows-latest.exe
            dist/rob-${{ github.event.release.tag_name }}-ubuntu-latest-linux
            dist/rob-${{ github.event.release.tag_name }}-macos-latest-mac
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
