name: Build Binaries on Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build executable
        run: |
          VERSION=${{ github.event.release.tag_name }}
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            pyinstaller --onefile main.py
            mv dist/main.exe rob-$VERSION.exe
          else
            pyinstaller --onefile --name rob-$VERSION main.py
          fi

      - name: Upload binary to release
        run: |
          VERSION=${{ github.event.release.tag_name }}
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            gh release upload ${{ github.event.release.tag_name }} rob-$VERSION.exe
          else
            gh release upload ${{ github.event.release.tag_name }} dist/rob-$VERSION
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
